#───────────────────────────────────────────────────────────────────────────────
# netbox.cfg
# Drop this file in haproxy/apps/ and load it with:
#
# This pattern lets you manage each service's LB config independently.
#───────────────────────────────────────────────────────────────────────────────
frontend fe_netbox
    bind 192.168.0.1:80
    mode http
    default_backend netbox

backend be_netbox
    mode        http
    balance     first
    option      httpchk GET http://docker.adam.home:8000/login/
    http-check  expect status 302

    # Add / remove replicas here without touching any other file
    server  netbox-1  netbox:8000    check inter 5s fall 3 rise 2
    # server  app1-2  app1b:80   check inter 5s fall 3 rise 2
    # server  app1-3  app1c:80   check inter 5s fall 3 rise 2
