#───────────────────────────────────────────────────────────────────────────────
# weather-station.cfg
# Drop this file in haproxy/apps/ and load it with:
#
# This pattern lets you manage each service's LB config independently.
#───────────────────────────────────────────────────────────────────────────────
frontend weather-station
    bind 192.168.0.2:80
    mode http
    default_backend weather-station


backend weather-station
    mode        http
    balance     first
    option      httpchk GET http://docker.adam.home:8001
    http-check  expect status 200

    # Add / remove replicas here without touching any other file
    server  weather-station-1  weather-station:8001    check inter 5s fall 3 rise 2
    # server  app1-2  app1b:80   check inter 5s fall 3 rise 2
    # server  app1-3  app1c:80   check inter 5s fall 3 rise 2
